# 环境变量
fastapi/.env
.env
.env.local
.env.*.local

# Python 相关（你的项目名是 automobiles_rag_project，可能是 Python 项目）
__pycache__/
*.pyc
venv/
.venv/

# IDE
.vscode/
.idea/

# 系统
.DS_Store


# 忽略 create_data 文件夹下的指定 CSV 文件
fastapi/create_data/懂车帝1.csv
fastapi/create_data/汽车之家.csv


# 忽略向量数据库文件
fastapi/automobiles_chroma